body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article {
    color: gray;
    font-size: 21px;
}

header {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.subheading {
    font-size: 42px;
    font-weight: 300;
    color: white;
}

a:link, a:visited { 
    color: aquamarine;
    font-size: 16px;
  }
  
}
footer {
    text-align: right;
    color: gray;
}